.about-us {
    padding-top: 6em;
    padding-bottom: 1.5em;
    &--page {
        padding:0;
    }
    &__img {
        height: 25rem;
        width: auto;
        overflow: hidden;

        img {
            max-height: 100%;
        }
    }

    &__content {
        padding: 3em 0;
        text-align: center;

    }

    &__article {
        margin-bottom:2em;
        &__seo-heading {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    @include for-desktop-up {
        flex-flow: row nowrap;
        &__article {
            padding-left: 8em;
            text-align: left;
            margin-bottom:3em;
        }
        &__content {
            width: 70%;
        }
    } 
}