.services{
    background-color: lightgray;
    padding: 2em 0;

    @include for-tablet-landscape-up {
        display:grid;
        grid-template-columns: 44% 44%;
        column-gap: 1.5em;
        row-gap: 1.5em;
        justify-content: center;
    }
    @include for-desktop-up {
        grid-template-columns: 23% 23% 23% 23%;
    }
}