.service {
    position: relative;

    &__controls {
        padding: 0 10px 10px 10px;
        justify-content: space-between;
        position: sticky;
        z-index: 6;
        top: 25px;
        &--next,
        &--prev {
            font-size: 2.5em;
            position: relative;
            padding: 5px 24px;
            background-color: rgba(0,0,0,0.3);
            border-radius: 50%;

        }

    }

    &__img {
        position: relative;
        overflow: hidden;
        object-fit: cover;
        margin-right: 1.5em;

        img {
            position: relative;
            width: 100%;
        }
    }

    &__paragraph {
        flex-flow: column;
        margin-top: 0.5em;
        &:last-child {
            padding-bottom: 2rem;
        }
    }

    &__text {
        margin: 0 0 1.5em 0;
        &__list {
            list-style-type: circle;
            padding-left: 1em;
        }
    }

    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__cta {
        display: block;
        width: 80%;
        margin: 1rem auto 2rem auto;
        background-color: $blue-400;
    }

    @include for-tablet-landscape-up {
        &__controls {
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            &--next,
            &--prev {
                background-color: transparent;
    
            }
        }

        &__content {
            max-width: 80%;
            margin: 0 auto;
        }

        &__paragraph {
            flex-flow: row;
        }

        &__img {
            float: left;
            width: 45%;
        }

        &__text {
            width: 50%;
            &--full-width {
                width: 100%;
            }
        }

        &__title {
            margin-top: 0.5em;
        }
        &__cta {
            width: 50%;
        }

    }

    @include for-desktop-up {
        &__content {
            margin: 0 auto 2em auto;
        }
        .activation-codes__list {
            position:relative;
            width: 60%;
            left:35%;
        }
        &__cta {
            width: 30%;
        }
    }
}