<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
<body>
<header th:replace="~{/fragments/header}"></header>
<div class="content-container">
    <!--    <div class="month-year">-->
    <!--        <button class="btn" id="prev-btn">Previous</button>-->
    <!--        <button class="btn" id="current-month-btn">Current Month</button>-->
    <!--        <div class="names-container" id="names-container">-->
    <!--            <span class="month-name" id="month-name"></span><span>&nbsp;&nbsp;</span><span class="year-value"-->
    <!--                                                                                           id="year-value"></span>-->
    <!--        </div>-->

    <!--        <button class="btn" id="next-btn">Next</button>-->
    <!--    </div>-->
    <div class="calendar" id="calendar-container">

        <div class="week-days">
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
            <div class="day">Sun</div>
        </div>
        <div th:class="date-container" th:with="firstDay=${#temporals.dayOfWeek(scheduleViewModel.days[0].date)}">
                <div th:class="week">
                    <th:block th:each="i:${#numbers.sequence(1, 7)}"
                            th:with="currentDate=${scheduleViewModel.days[counter.get()].date}">
                        <div th:class="date">
                            <span th:class="date-number" th:text="${i>=firstDay}?${counter.get()+1}"></span>
                            <span th:class="day-status" th:text="${i>=firstDay}?${scheduleViewModel.days[counter.getAndIncrement()].status}"></span>
                        </div>

                    </th:block>
                </div>
            <th:block th:if="${counter.get()<#lists.size(scheduleViewModel.days)}"
                      th:with="currentDate=${scheduleViewModel.days[counter.get()].date}">
                <div th:class="week" th:each="j:${#numbers.sequence(1,4)}">
                    <th:block th:each="i:${#numbers.sequence(1, 7)}">
                        <div th:class="date">
                            <span th:class="date-number" th:text="${counter.get()<#lists.size(scheduleViewModel.days)}?${counter.get()+1}"></span>
                            <span th:class="day-status" th:text="${counter.get()<#lists.size(scheduleViewModel.days)}?${scheduleViewModel.days[counter.getAndIncrement()].status}"></span>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
</div>

<script src="/js/calendar.js"></script>
</body>
</html>