<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
<body>
<header th:replace="~{/fragments/header}"></header>
<div class="content-container">
    <!--    <div class="month-year">-->
    <!--        <button class="btn" id="prev-btn">Previous</button>-->
    <!--        <button class="btn" id="current-month-btn">Current Month</button>-->
    <!--        <div class="names-container" id="names-container">-->
    <!--            <span class="month-name" id="month-name"></span><span>&nbsp;&nbsp;</span><span class="year-value"-->
    <!--                                                                                           id="year-value"></span>-->
    <!--        </div>-->

    <!--        <button class="btn" id="next-btn">Next</button>-->
    <!--    </div>-->
    <div class="calendar" id="calendar-container">

        <div class="week-days">
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
            <div class="day">Sun</div>
        </div>
        <div th:class="date-container">
            <div class="date" th:each="day, stat : ${scheduleViewModel.days}">
                <span class="day-status" th:text="${day.status.symbol}"></span>
            </div>
<!--            <div th:remove="${stat.count % 7 != 0 } or stat.count == 1  ? tag : none" th:class="week"-->
<!--                 th:each="day, stat : ${scheduleViewModel.days}">-->
<!--                        <div class="date"><span class="day-status" th:text="${day.status.symbol}"></span></div>-->
<!--            </div>-->

        </div>

    </div>
</div>

<script src="/js/calendar.js"></script>
</body>
</html>