<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
<body>
<header th:replace="~{/fragments/header}"></header>
<div class="content-container">
    <div class="month-year">
        <button class="btn" id="prev-btn">Previous</button>
        <button class="btn" id="current-month-btn">Current Month</button>
        <div class="names-container" id="names-container">
            <span class="month-name" id="month-name"></span><span>&nbsp;&nbsp;</span><span class="year-value"
                                                                                           id="year-value"></span>
        </div>

        <button class="btn" id="next-btn">Next</button>
    </div>
    <div class="calendar" id="calendar-container">

        <div class="week-days">
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
            <div class="day">Sun</div>
        </div>
        <div class="date-container">
            <div class="week">
                <div class="date"><span class="day-status">D</span></div>
                <div class="date"></div>
                <div class="date"></div>
                <div class="date"></div>
                <div class="date"></div>
                <div class="date"></div>
                <div class="date"></div>
            </div>
        </div>
        <div class="generated-tags" id="generated-tags">

        </div>
    </div>
</div>

<script src="/js/calendar.js"></script>
</body>
</html>