$transparent-7: rgba(255,255,255,0.7);
$dark-blue:rgb(2, 13, 38);
$primary:rgb(37, 45, 57);
$pseudo-background: rgba(0,0,0,0.6);

//Grey
$grey-700: #565656;
$grey-500: #919191;
$grey-400: #B2B2B2;
$grey-300: #D6D6D6;
$grey-200: #E6E6E6;
$grey-100: #F1F1F1;
//Blue
$blue-400:#44A9F8;
$blue-300:#66B9F8;
$blue-200:#92CDFB;
//Green
$lightgreen: #90ee90;

$star-color: #fff;
$star-background: #fc0;
